@font-face {
    font-family: "Web437 EagleSpCGA Alt3";
    font-style: normal;
    font-weight: 200;
    src: url('Web437_EagleSpCGA_Alt3.woff') format('woff');
}

@font-face {
    font-family: "Web437 EagleSpCGA Alt3";
    font-style: normal;
    font-weight: 400;
    src: url('Web437_EagleSpCGA_Alt3.woff') format('woff');
}

@font-face {
    font-family: "Web437 EagleSpCGA Alt3";
    font-weight: 600;
    src: url('Web437_EagleSpCGA_Alt3.woff') format('woff');
}

@font-face {
    font-family: "Web437 EagleSpCGA Alt3";
    font-weight: 800;
    src: url('Web437_EagleSpCGA_Alt3.woff') format('woff');
}
